<div class="container mt-4">
    <div class="row align-items-center mb-3">
        <div class="col">
            <h2>Liste des Clients</h2>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" (click)="navigateToAddClient()">Ajouter Client</button>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>MF</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.MF }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" (click)="editClient(client)">Modifier</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteClient(client)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>