<h2>Modifier Secteur</h2>
<form (ngSubmit)="updateSecteur()">
    <div class="mb-3">
        <label for="libelle" class="form-label">Libelle:</label>
        <input id="libelle" [(ngModel)]="secteur.libelle" name="libelle" class="form-control" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Modifier Secteur</button>
</form>
<button type="button" class="btn btn-secondary mt-3" routerLink="/list-secteur">
    Retour à la liste des Secteurs
</button>
<p *ngIf="message" class="mt-3 alert alert-info">{{ message }}</p>
